.container {
  margin-left: 20px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 15px;
}

.userInfoDiv {
  display: flex;
  margin-bottom: 10px;
}

.userInfoDiv__nickname {
  margin-left: 3px;
  color: gray;
  font-weight: 500;
}

.contentInfoDiv {
  color: gray;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.contentInfoDiv__timeDiv {
  display: flex;
  align-items: center;
}

.contentInfoDiv__timeDiv__timeIcon {
  display: flex;
  align-items: center;
}

.contentInfoDiv__likeDiv {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 15px;
}

.contentInfoDiv__likeDiv__likeIcon {
  display: flex;
  align-items: center;
}

.contentInfoDiv__extraDiv {
  position: relative;
  display: flex;
  align-items: center;
}

.contentInfoDiv__extra {
  display: flex;
  align-items: flex-end;
  margin-left: 15px;
  font-size: 25px;
  color: gray;
}

.contentInfoDiv__timeDiv__time {
  margin-left: 3px;
}

.contentInfoDiv__likeDiv__count {
  margin-left: 3px;
}

.container__moreInfo {
  position: absolute;
  border: black solid 1px;
  background-color: white;
  border-radius: 5px;
  top: 0px;
  right: -10px;
  padding: 5px;
}

.container__moreInfo ul li button {
  cursor: pointer;
}

.container__moreInfo ul li button {
  font-size: 15px;
}

.container__moreInfo ul li:nth-child(2) {
  margin-top: 3px;
}

.container__moreInfo ul li:nth-child(3) {
  margin-top: 3px;
}

.container__moreInfo ul li button:hover {
  font-weight: 600;
}
