.btn {
  display: block;
  width: 100%;
}

.container {
  padding: 10px 0 10px 0;
  border-bottom: 2px solid #e9ecef;
}

.container__contentDiv {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 10px;
  justify-content: center;
  align-items: flex-start;
}

.container__contentDiv__title {
  text-align: left;
  font-size: large;
  font-weight: 700;
}

.container__contentDiv__content {
  text-align: left;
  font-size: medium;
  margin-top: 10px;
  color: gray;
}

.container__secondDiv {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  font-size: medium;
}

.container__secondDiv__userInfo {
  font-weight: 600;
  display: flex;
}

.container__secondDiv__userInfo__nickname {
  margin-left: 5px;
  color: rgb(95, 94, 94);
}

.container__thirdDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.container__thirdDiv__first {
  color: rgb(165, 161, 161);
  margin-top: 10px;

  padding-right: 10px;
  display: flex;
}

.container__thirdDiv__view {
  display: flex;
}

.container__thirdDiv__view__count {
  margin-left: 5px;
}

.container__thirdDiv__like {
  margin-left: 20px;
  display: flex;
}

.container__thiredDiv__time {
  color: rgb(165, 161, 161);
}

.container__thirdDiv__like__count {
  margin-left: 5px;
}

.container__thirdDiv__comment {
  margin-left: 20px;
  display: flex;
}

.container__thirdDiv__comment__count {
  margin-left: 5px;
}
