.container {
  margin-top: 10px;
  width: 100%;
  display: flex;
}

.container div:nth-child(1) {
  flex: 1;
  font-size: large;
}

.container div:nth-child(2) {
  flex: 8;
}

.container div:nth-child(2) button {
  font-size: large;
}
.container div:nth-child(3) {
  flex: 0.5;
  color: gray;
}
.extra {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.CountDivInline {
  display: flex;
  justify-content: flex-end;
}

.linkeCount {
  margin-left: 1px;
}

.CountDiv {
  display: flex;
  align-items: center;
}

.CountDiv__likeIcon {
  color: gray;
  font-size: medium;
  display: flex;
  align-items: center;
}

.CountDiv__likeIconActive {
  color: rgb(83, 83, 245);
  font-size: medium;
}

.CountDivTow {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.commentCount {
  margin-left: 1px;
}

.CountDiv__commentIcon {
  color: gray;
  font-size: medium;
  display: flex;
  align-items: center;
}
