.container {
  margin-top: 10px;
  width: 100%;
  display: flex;
}

.container div:nth-child(1) {
  flex: 1;
  font-size: large;
}

.container div:nth-child(2) {
  flex: 8;
}

.container div:nth-child(2) button {
  font-size: large;
}
.container div:nth-child(3) {
  flex: 0.5;
  color: gray;
}
.title {
  color: black;
}
.extra {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.CountDivInline {
  display: flex;
  justify-content: flex-end;
}

.linkeCount {
  margin-left: 1px;
}

.CountDiv {
  display: flex;
  align-items: center;
}

.CountDiv__likeIcon {
  color: gray;
  font-size: medium;
  display: flex;
  align-items: center;
}
.linkeCount {
  font-size: medium;
}
.CountDiv__likeIconActive {
  color: rgb(83, 83, 245);
  font-size: medium;
  display: flex;
  align-items: center;
}

.CountDivTow {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.commentCount {
  margin-left: 1px;
  font-size: medium;
}

.CountDiv__commentIcon {
  color: gray;
  font-size: medium;
  display: flex;
  align-items: center;
}
.mobileExtra {
  display: none;
}

@media screen and (max-width: 768px) {
  .container {
    margin-top: 0;
    border-top: 1px solid #e9ecef;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
  }
  .title {
    margin: 10px 0 10px 0;
    width: 100%;
  }
  .title button {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
  .extra {
    display: none;
  }
  .mobileExtra {
    display: flex;
  }
  .mobileExtra__likeDiv {
    display: flex;
    align-items: center;
  }
  .mobilelikeCount {
    margin-left: 1px;
    font-size: 18px;
    color: gray;
  }
  .mobileExtra__commentDiv {
    margin-left: -10px;
    display: flex;
    align-items: center;
  }
  .mobileExtra__commentIcon {
    display: flex;
    align-items: center;
    font-size: medium;
    color: gray;
  }
  .mobileExtra__commentCount {
    font-size: 18px;
    margin-left: 1px;
    color: gray;
  }
}
