button {
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
}

.container__logo {
  width: 200px;
  height: 40px;
}

.container__mbtiList {
  display: flex;
  justify-content: space-between;
}

.container__mbtiList button {
  font-size: 40px;
  font-weight: var(--weight-semi-bold);
  background-color: white;
}

.container__mbtiList li:nth-child(2) {
  margin-left: 100px;
}

.container__loginBtn {
  width: 140px;
  height: 50px;
  border: none;
  border-radius: 8px;
  background-color: var(--login-btn-color);
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: white;
}

@media screen and (max-width: 1000px) {
  .container__mbtiList button {
    font-size: 30px;
    font-weight: var(--weight-semi-bold);
    background-color: white;
  }

  .container__logo {
    width: 180px;
    height: 35px;
  }
}

@media screen and (max-width: 768px) {
  .container__mbtiList {
    display: none;
  }

  .container__logo {
    width: 150px;
    height: 30px;
  }
}
