button {
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}
.container__logoName {
  display: flex;
  align-items: flex-end;
}
.container__logo_btn {
  width: 160px;
  height: 32px;
}

.container__logo {
  width: 100%;
  height: 100%;
}

.container__right {
  display: flex;
  align-items: flex-end;
}

.container__loginBtn {
  width: 100px;
  height: 40px;
  border: 1px solid #d4d4d4;
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: black;
}

.container__topDiv__sub__btn {
  font-size: large;
  background-color: #c62917;
  margin-left: 10px;
  color: white;
  width: 100px;
  height: 40px;
  border: 1px solid #d4d4d4;
}

.writePostDiv {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 77%;
  z-index: 1;
  padding-top: 250px;
  overflow-y: auto;
}

.writePost {
  position: relative;
  background-color: #fff;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 250px;
}

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 90%;
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%;
}
