.E {
  color: #03a1fc;
}

.I {
  color: #2c6c91;
}

.S {
  color: #3db035;
}

.N {
  color: #a847ed;
}

.T {
  color: #f53127;
}

.F {
  color: #f23dec;
}

.J {
  color: #f5ef3d;
}

.P {
  color: #f0911d;
}
