.mainContainerBar {
  padding-top: 50px;
  max-width: var(--main-home);
  box-sizing: border-box;
  margin: 0 auto;
}

.mainContainerContent {
  padding-bottom: 100px;
  margin-top: 100px;
  max-width: var(--main-home);
  box-sizing: border-box;
  margin: 0 auto;
}

.loginMenu {
  z-index: 100;
  position: absolute;
  left: 700px;
  top: 300px;
}

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 70%;
  background-color: gray;
  position: absolute;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .mainContainerBar {
    padding-left: 40px;
    padding-right: 40px;
  }

  .mainContainerContent {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 1000px) {
  .mainContainerBar {
    padding-top: 0px;
  }

  .mainContainerContent {
    padding-top: 0px;
  }
}
