.mainContainerBar {
  padding-top: 10px;
  max-width: 800px;
  box-sizing: border-box;
  margin: 0 auto;
}

.bar {
  width: 100%;
  border-top: 1px solid #d4d4d4;
}

.bar__content {
  max-width: 800px;
  margin: 0 auto;
}

.loginMenuDiv {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding-top: 300px;
}

.loginMenu {
  z-index: 2;
  margin: 0 auto;
  max-width: 400px;
}

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.8;
  background-color: black;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .mainContainerBar {
    padding: 0 10px 0 10px;
  }
}
