.container {
  width: 140px;
  height: 60px;
  display: flex;
  border: 1px solid;
  padding: 5px 20px;
  justify-content: space-between;
  align-items: flex-end;
}
.container__info {
  font-size: 22px;
  font-weight: var(--weight-semi-bold);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container__btn {
  width: 60px;
  height: 30px;
  border: none;
  border-radius: 8px;
  background-color: var(--logout-btn-color);
  font-size: var(--font-micro);
  font-weight: var(--weight-semi-bold);
  color: white;
}
