.mainBackground {
  background-color: #f8f9fa;
  padding-top: 200px;
  padding-bottom: 100px;
  height: 700px;
}

.container {
  max-width: 600px;
  height: 300px;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: white;
  border: 1px solid lightgray;
  background-color: #fff;
  border-radius: 8px;
  padding: 40px 20px 40px 20px;
}

.container__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}
.container__top div:nth-child(1) {
  display: flex;
  align-content: center;
  font-size: 20px;
}

.container__top__title {
  margin-left: 10px;
  font-weight: 700;
  font-size: large;
}

.container__top__btn {
  width: 60px;
  height: 25px;
  background-color: lightgray;
  border: 1px solid #d4d4d4;
  color: black;
}

.container__top__btn__on {
  width: 60px;
  height: 25px;
  background-color: #c62917;
  border: 1px solid #d4d4d4;
  color: white;
}

.container__bottom {
  margin-top: 50px;
}

.container__bottom__content {
  width: 315px;
  display: flex;
  margin-top: 20px;
}

.container__bottom__content div:nth-child(1) {
  flex: 1.5;
  font-weight: 600;
}

.container__bottom__content div:nth-child(2) {
  flex: 0.5;
  padding: 0;
}

.container__bottom__content div:nth-child(3) {
  flex: 5;
}

.container__bottom__content textarea {
  margin-left: 10px;
  border: 1px solid rgb(161, 160, 160);
  width: 145px;
}

.container__bottom__content input {
  margin-left: 10px;
  border: 1px solid rgb(161, 160, 160);
}

.container__bottom__content__input {
  display: flex;
}

.container__bottom__content__input__btnActive {
  padding: 3px;
  width: 55px;
  margin-left: 8px;
  border: 1px solid darkgray;
  background-color: lightgray;
}

.container__bottom__content__input__btn {
  pointer-events: none;
  cursor: none;
  padding: 3px;
  width: 55px;
  margin-left: 8px;
  border: 1px solid rgb(216, 214, 214);
  background-color: rgb(233, 233, 233);
  color: rgb(156, 156, 156);
}

.replaceInput {
  font-size: 12px;
  font-weight: 100;
  margin-left: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 2px;
  color: gray;
  border: 1px solid rgb(216, 214, 214);
}
