hr {
  border-top: 1px solid #d4d4d4;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.titleDiv {
}

.titleDiv__boardIdDiv {
  display: flex;
  align-items: center;
  font-size: large;

  color: gray;
}

.titleDiv__title {
  margin-top: 10px;
  font-size: xx-large;
  font-weight: 700;
}

.postInfoBigDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postInfoBigDiv button {
  color: gray;
  font-size: x-large;
  display: flex;
  align-items: center;
}

.userInfoDiv {
  display: flex;
  margin-top: 20px;
}

.userInfoDiv__mbti {
  font-size: large;
  font-weight: 600;
}

.userInfoDiv__nickname {
  font-size: large;
  color: grey;
  font-weight: 600;
  margin-left: 5px;
}

.postInfoDiv {
  color: grey;
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
}

.postInfoDiv__time {
  display: flex;
  align-items: center;
  font-size: medium;
}

.postInfoDiv__time__content {
  margin-left: 3px;
}

.postInfoDiv__view {
  margin-left: 15px;
  display: flex;
  align-items: center;
  font-size: medium;
}

.postInfoDiv__view__content {
  margin-left: 3px;
}

.contentDiv {
  padding-top: 80px;
  padding-bottom: 80px;
  font-size: large;
}

.likeDiv {
  display: flex;
  font-size: medium;
  margin-bottom: 10px;
  align-items: center;
}

.likeDiv button {
  display: flex;
  align-items: center;
  font-size: large;
}

.likeDiv__count {
  margin-left: 5px;
  font-size: large;
}

.comment {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: large;
  font-weight: 600;
}

.postSettingDiv {
  position: relative;
}

.container__moreInfo {
  position: absolute;
  border: black solid 1px;
  background-color: white;
  border-radius: 5px;
  top: 0;
  right: -10px;
  padding: 10px;
  width: 32px;
}

.container__moreInfo ul li button {
  cursor: pointer;
}

.container__moreInfo ul li button {
  font-size: large;
}

.container__moreInfo ul li:nth-child(2) {
  margin-top: 6px;
}

.container__moreInfo ul li:nth-child(3) {
  margin-top: 6px;
}

.container__moreInfo ul li button:hover {
  font-weight: 600;
}

.imgDiv img {
  width: 100%;
  height: 500px;
}

.imgDiv div {
  margin-top: 10px;
  font-size: large;
}

.imgDiv {
  margin-bottom: 40px;
}

.likeDiv__likeActive {
  color: rgb(83, 83, 245);
}
