hr {
  border-top: 1px solid #d4d4d4;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.titleDiv {
}

.titleDiv__boardIdDiv {
  display: flex;
  align-items: center;
  font-size: large;

  color: gray;
}

.titleDiv__title {
  margin-top: 10px;
  font-size: xx-large;
  font-weight: 700;
}

.userInfoDiv {
  display: flex;
  margin-top: 20px;
}

.userInfoDiv__mbti {
  font-size: large;
  font-weight: 600;
}

.userInfoDiv__nickname {
  font-size: large;
  color: grey;
  font-weight: 600;
  margin-left: 5px;
}

.postInfoDiv {
  color: grey;
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
}

.postInfoDiv__time {
  display: flex;
  align-items: center;
  font-size: medium;
}

.postInfoDiv__time__content {
  margin-left: 3px;
}

.postInfoDiv__view {
  margin-left: 15px;
  display: flex;
  align-items: center;
  font-size: medium;
}

.postInfoDiv__view__content {
  margin-left: 3px;
}

.contentDiv {
  padding-top: 80px;
  padding-bottom: 80px;
  font-size: large;
}

.likeDiv {
  display: flex;
  font-size: medium;
  margin-bottom: 10px;
}

.likeDiv__count {
  margin-left: 5px;
}

.comment {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: large;
  font-weight: 600;
}
